<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="static/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="static/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="static/images/favicon-48x48.png" sizes="48x48">
  <meta charset="UTF-8">
  <meta property="og:url"           content="trumplearn.com" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Trump Learn" />
  <meta property="og:description"   content="Recognize the voice of Donald Trump in Youtube videos"/>
  <meta property="og:image"         content="http://trumplearn.com/static/images/logo.png"/>
  <title>Trump Learn - Donald Trump Voice Recognition</title>
  <link rel="stylesheet" href="static/css/style.min.css">
</head>

<body>
  <div id="header">
    <div class="logo"></div>
    <div class="info">
      <h1>Trump Learn</h1>
      <p>A machince learning model that responds solely to the voice of Donald Trump.</p>
    </div>
    <div class="plusWrapper">
      <div class="circle plus">+</div>
      <div class="circle ear">👂</div>
    </div>
  </div>
  <div class="clearfix"></div>
  <form id="new-video">
    <input type="text" placeholder="https://www.youtube.com/watch?v=...." id="new-video-input">
  </form>

  <div id="mainarea">
    <div id="playerWrapper">
      <h3 class="loading-video">Loading Video...</h3>
      <div id="player"></div>
    </div>
    <div class="waveWrapper">
      <div id="wave"></div>
      <div id="confidence-indicator">
        <p>Trump Level: <span>0</span></p>
      </div>
    </div>
    <div class="social">
      <ul>
        <li>
          <a href="https://twitter.com/intent/tweet?text=This+website+recognizes+Donald+Trump%27s+voice+http://trumplearn.com" class="external" id="twitter"></a>
        </li>
        <li>
          <a href="http://www.reddit.com/submit?url=http://trumplearn.com&title=This+website+recognizes+Donald+Trump%27s+voice" class="external" id="reddit"></a>
        </li>
        <li>
          <a href="http://www.facebook.com/share.php?u=http://trumplearn.com&title=This+website+recognizes+Donald+Trump%27s+voice" class="external" id='facebook'></a>
        </li>
        <li>
          <a href="//github.com/danielravina/trump-learn" target="_blank" id="github"></a>
        </li>
      </ul>
    </div>
    <div id="error"></div>
  </div>
  <div class="footer">
    Made by <a href="//twitter.com/danielravina" target="_blank">@danielravina</a> | Graphics by <a href='http://www.freepik.com' target="_blank">freepik</a></p>
  </div>
  <div id="loadingWrapper">
    <div class="loading">
      <img src="" id="loading-img" alt="">
      <a href="http://giphy.com/search/trump" target="_blank">giphy</a>
      <p>Listening...</p>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="static/js/siriwave.js"></script>
  <script src="static/js/application.js"></script>
  <script src="static/js/new-video-form.js"></script>
  <script>
    function openwindow(url){
      var w = 640
      var h = 360
      var left = (screen.width/2)-(w/2);
      var top = (screen.height/2)-(h/2);
      NewWindow=window.open(url,'newWin','width='+w+',height='+h+',toolbar=No,top='+top+', left='+left+',location=No,scrollbars=no,status=No,fullscreen=No');
      NewWindow.focus();
      void(0);
    }
    $('a.external').click(function(e) {
      e.preventDefault()
      openwindow($(e.target).attr('href'))
    })

    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79274317-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
